#container{
	overflow: auto;
	width: 960px;
	margin: auto;
}

#button_container {
	overflow: auto;
	width: 960px;
	height: 30px;
	margin: auto;
	text-align: center;
}
.width {
	height: 50px;
	width: 50px;
	background-color: #000000;
	margin: 2px;
	float: left;
}
.height {
	height: 50px;
	width: 50px;
	background-color: #000000;
	margin: 2px;
	display: inline-block;
}
.new_line {
	clear: both;
}